.components{
     width: 100%;
     min-height: 70vh;
     /* border: 1px solid black; */
    background-image: linear-gradient(to right, blue, rgb(231, 231, 133));
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-right: 10%;
    padding-left: 10%;
    color: white;
}

.items{
    width: 35%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */

    /* padding: 10%; */
}


.items1{
    display: flex;
    flex-direction: column;
    width: 30%;
    /* padding: auto; */
    
    /* margin-left: 10%; */
    /* border: 1px solid black; */
    transition: 1s;
}
.items1 .link{
      text-decoration: none;
      color: wheat;
}

.items1 .link:hover{
    color: white;
}

.LinkItems{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .items{
      width: auto;
    }

    .items1{
         width: auto;
    }
}
